@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dining Designs Employment Portal</h1>
    <p class="lead">If you want to work at Dining Services (which you do), you will apply through here</p>
    <p><a href="@Url.Action("Index", "Private")" class="btn btn-primary btn-lg">Apply Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dining sites</h2>
        <p>
           We are the biggest employer on campus and click below to see all the places on campus that we handle
        </p>
        <p><a class="btn btn-default" href="https://dining.byu.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>