
@{
    ViewBag.Title = "Index";
}

<h2>This is where you will click to apply</h2>

<h1><a href="https://docs.google.com/forms/d/e/1FAIpQLScUUpcCr_DILgUc-pZzcLLKPez0nxBqTsF-Ay06mAHq0tZ9wA/viewform?vc=0&c=0&w=1" class="btn btn-primary btn-lg">Apply</a></h1>


